<form method="post" action="{{ path('app_overlay_delete', {'id': overlay.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet overlay ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ overlay.id) }}">
	<button class="btn btn-danger">
		<span class="iconify" data-icon="ant-design:delete-filled"></span>
		Supprimer cet overlay</button>
</form>
