{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-success">
	<span class="iconify" data-icon="fluent:save-arrow-right-20-filled"></span>
	{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
