{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel événement
{% endblock %}


{% block body %}
	<h1>Créer un nouvel événement</h1>

	{{ include('event/_form.html.twig') }}

	<a class="btn btn-dark" href="{{ path('app_event_index') }}">
		<span class="iconify" data-icon="akar-icons:arrow-back-thick"></span>
		Retour à la liste</a>
{% endblock %}
