<section id="nextmatch">
	<div id="teams_nextmatch" class="teams">
		<span id="nextmatch_team_a">TBD</span>
		<span id="vs">VS</span>
		<span id="nextmatch_team_b">TBD</span>
	</div>
	<div id="textnextmatch" class="text">
		<span class="nextmatch_next" id="nextmatch_heure">19H</span>
	</div>
</section>
