	<section id="tweet_img">
	<div class="tweet-wrap">
		<div class="tweet-header">
			<img src="" alt="" class="avatar" id="img_avatar">
			<div class="tweet-header-info">
				<span id='img_pseudo'>BRIETGAME</span>
				<i class="mdi mdi-twitter"></i>
				<span id='img_display'>@BRIETGAME</span>
				<p id='img_texte'>Ceci est un test</p>
			</div>
		</div>
		<div class="tweet-img-wrap">
			<img src="" alt="" class="tweet-img" id='img_image'>
		</div>
	</div>
</section>
