<section id="tweet_sample_text">
	<div class="tweet-wrap">
		<div class="tweet-header">
			<img src="" alt="" class="avatar" id="text_avatar">
			<div class="tweet-header-info">
				<span id="text_pseudo">BRIETGAME</span>

				<span id="text_display">@BRIETGAME</span>
				<p id="text_texte">Ceci est un test</p>
			</div>
		</div>
	</div>
</section>
