<section id="tweet_video">
	<div class="tweet-wrap">
		<div class="tweet-header">
			<img src="" alt="" class="avatar" id="video_avatar">
			<div class="tweet-header-info">
				<span id="video_pseudo">BRIETGAME</span>
				<i class="mdi mdi-twitter"></i>
				<span id="video_display">@BRIETGAME</span>
				<p id="video_texte">Ceci est un test</p>
				<video width="300px" muted loop autoplay id="video_video">
					<source autoplay src="" type="video/mp4" id='video_src'>
				</video>
			</div>
		</div>
	</div>
</section>
