<form method="post" action="{{ path('app_map_delete', {'id': map.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette carte ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ map.id) }}">
	<button class="btn btn-danger">
		<span class="iconify" data-icon="ant-design:delete-filled"></span>
		Supprimer la carte</button>
</form>
