<section id="topbar">
	<div class="left">
		<div class="top">
			<span>#HER6S</span>
		</div>
		<div class="bottom">
			<span>Her6s d'Oregon</span>
		</div>
	</div>

	<div class="center">
		<div class="score_a">0</div>
		<div class="logo">
			<img src="https://cdn.artaic.fr/images/Blason-Salty.png" alt="Logo Cup">
		</div>
		<div class="score_b">0</div>
	</div>

	<div class="map">
		<span>Map :
			<span>Oregon</span>
		</span>
	</div>
</section>
