<section id="topbar">
	<div class="lambda">
		<section id="display">
			Her6s d'Oregon
		</section>
	</div>
	<div
		class="name_event">
		{# TODO: Mettre une valeur dynamique #}
		<span class="hashtag">#</span>Her6s
	</div>
	<div class="scorea" id="scorea">0</div>
	<div id="topbar_team_a" class="teama">TBD</div>
	<div class="vs"></div>
	<div class="logo"><img src="" alt="Logo de l'event"></div>
	<div id="topbar_team_b" class="teamb">TBD</div>
	<div class="scoreb" id="scoreb">0</div>
	<div class="carte">
		<span class="yellow">Map :</span>
		<span id="currentmap">Oregon<span></div>
			<div id="slider">
				<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active" id="img_slider">
							<img src="https://cdn.artaic.fr/images/overlay/campus_cup/white_firstblood_logo.png" class="d-block w-100" alt="...">
						</div>
						<div class="carousel-item">
							<span id="text_slider" class="text_slider">
								<i class="mdi mdi-twitter"></i>
								SIXQUATRE
							</span>
						</div>
						<div class="carousel-item">
							<span id="text_slider" class="text_slider">
								<i class="mdi mdi-instagram"></i>
								SIXQUATRE
							</span>
						</div>
						<div class="carousel-item">
							<span id="text_slider" class="text_slider">
								<i class="mdi mdi-twitch"></i>
								SIXQUATRE
							</span>
						</div>
						<div class="carousel-item">
							<span id="text_slider" class="text_slider">
								<i class="mdi mdi-twitter"></i>
								LaSaltyAcademy
							</span>
						</div>
						<div class="carousel-item">
							<span id="text_slider" class="text_slider">
								<i class="fa-brands fa-youtube"></i>
								SIXQUATRE
							</span>
						</div>
						<div class="carousel-item">
							<span id="text_slider" class="text_slider">
								<i class="fab fa-facebook"></i>
								DaRealSixquatre
							</span>
						</div>
						<div class="carousel-item">
							<span id="text_slider" class="text_slider">
								<i class="fa-brands fa-tiktok"></i>
								saltyacademy
							</span>
						</div>
						<div class="carousel-item">
							<span id="text_slider" class="text_slider">
								<i class="mdi mdi-instagram"></i>
								salty_academy
							</span>
						</div>
						<div class="carousel-item">
							<span id="text_slider" class="text_slider">
								<i class="fa-brands fa-youtube"></i>
								!ytreplay
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
