#versus {
 display: flex;
 flex-flow: row nowrap;
 justify-content: center;
 gap: 5rem;

 .left, .right {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  h3 {
   font-size: 1.7rem;
   font-style: normal;
   font-weight: 300;
   text-transform: uppercase;
  }

  .logo {
   width: 70%;
   img {
    width: 100%;
   }
  }
 }

 .center {
  
  .content {
   background: #D9D9D9;
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   gap: 1rem;
   padding: 5rem;
   position: relative;
   border-radius: 20px;
 
   .overlay {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #000;
    color: white;
    position: absolute;
    top: 0;
    width: 100%;
    padding: .5rem 1rem;
    text-align: center;
   }
 
   .vs {
    color: $yellow;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
   }
 
   .heure {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
   }

   .map_section {
    .map {
     position: relative;

     .map_banner {
      position: relative; 
      max-width: 300px;

      img {
       width: 100%;
       filter: brightness(0.5);
      }
     }

     .map_name {
      position: absolute;
      z-index: 99;
      color: white;
      font-size: 2.5rem;
      text-transform: uppercase;
      top: 5%;
      left: 5%;
     }
    }
   }
  }

  .btn_section {
   display: flex;
   flex-flow: column wrap;
   align-items: center;
   gap: 1rem;
   padding: 1rem 0;
  text-align: center;
 }
 }
}