<section id="smalltext">
	<div id="popuptext" class="container_popup">
		<div id="leftpopuptext" class="left">
			<div class="img">
				<img id="popuplogoimg" src="" alt="">
			</div>
		</div>
		<div id="textpopuptext" class="text">
			<span id="txtvalue">Ceci est un test</span>
		</div>
	</div>
</section>
