{% set popupText = [] %}
{% for meta in metas %}
	{% if meta.metaKey == 'popup_text' %}
		{% set popupText = popupText|merge([meta]) %}
	{% endif %}
{% endfor %}


{% if widget.WidgetId == "popup_text" or  widget.WidgetId.libWidgetId == "popup_text" and popupText[0].metaValue is not empty %}
	<section id="smalltext" class="{{widget.WidgetVisible ? "" : "display_none"}}">
		<div id="popuptext" class="container_popup">
			<div id="leftpopuptext" class="left">
				<div class="img">
					<img id="popuplogoimg" src="{{ event_service.getOneCurrentEvent[0].eventLogo != null ? event_service.getOneCurrentEvent[0].eventLogo : 'https://cdn.artaic.fr/images/Blason-Salty.png' }}" alt="Logo de l'événement">
				</div>
			</div>
			<div id="textpopuptext" class="text">
				<span id="txtvalue">{{ popupText[0].metaValue }}</span>
			</div>
		</div>
	</section>

{% endif %}
