<section id="bottom_cam">
	<div class="container_cam">
		<div class="left">
			<iframe src="https://symfony.artaic.fr/obs_ninja/3" frameborder="0"></iframe>
			<iframe src="https://symfony.artaic.fr/obs_ninja/4" frameborder="0"></iframe>
		</div>
		<div class="center">
			<iframe src="https://symfony.artaic.fr/obs_ninja/9" frameborder="0"></iframe>
		</div>
		<div class="right">
			<iframe src="https://symfony.artaic.fr/obs_ninja/2" frameborder="0"></iframe>
			<iframe src="https://symfony.artaic.fr/obs_ninja/5" frameborder="0"></iframe>
		</div>
	</div>
</section>
