$yellow : #EBBE1A;
$blue : #144478;

#bottombar {
 background: url('https://cdn.artaic.fr/images/overlay/campus_cup/bottombar.png');
 position: absolute;
 bottom: 0;
 left: 0;
 right: 0;
 display: grid;
 grid-template-columns: 94px 444px 143px 1112px 126px;

 .logo {
  grid-column: 1/2;
  min-width: 94px;
  max-width: 94px;
  width: 10%;
  padding: .6rem;

  img {
   width: 100%
  }
 }

 .title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  grid-column: 2/3;
  font-size: 1.3rem;
  letter-spacing: .2rem;
  color: $yellow;
 }

 .space {
  grid-column: 3/4;
 }

 .details {
  margin-left: 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  grid-column: 4/5;
  color: white;

  .top {
   padding-bottom: .3rem;
   .event {
    font-size: 1.5rem;
    text-transform: uppercase;
   }
  }

  .bottom {
   padding-top: .3rem;
   width: 99%;
   marquee {
    font-size: 1rem;
    text-transform: uppercase;
   }
  }
 }


 .sponsors {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;

  .logo {
   img {
    width: 100%;
   }
  }
 }
}

@keyframes marquee {
 0% {
  transform: translateX(0);
 }

 100% {
  transform: translatex(-3500px);
 }
}