@import url('./ui.scss');
$font: 'Alumni Sans';
$blue: #144478;
$yellow: #EBBE1A;
$black_1 : #202225;
$black_2 : rgba(0, 0, 0, 0.58);
$black_3 : #171821;
$white : #FFFFFF;
$grey_1 : #DFDFDF;
$grey_2: rgba(191, 190, 190, 0.199);
$grey_3: rgba(155, 153, 153, 0.199);

:root {
  --bg-color: #000;
  --text-color: #FFF;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
li {
  list-style: none;
}

a {
  text-decoration-line: none;
  color: white
}

body {
  background-color: $grey_1;
  height: 100vh;
  width: 100vw;
  font-family: $font;
}

table {

  td {
    color: $black_1;

    a {
      color: $black_1;
    }
  }
}

#grid_container.big {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 0.25fr 1.1fr 0.35fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
}

#grid_container.mini {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 0.10fr 1.3fr 0.35fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
}

// Sidebar
.big-sidebar {
  background-color: $blue;
  min-height: 100vh;
  max-height: 200vh;
  height: 100%; // toute la hauteur de l'écran
  position: relative;

  #sidebar_btn {
    cursor: pointer;
    position: absolute;
    top: 5%;
    right: -5%;
    border: 1px rgba(0, 0, 0, 0.58);
    background-color: $white;
    box-shadow: 1px 1px 1px solid $black_1;
    border-radius: 30%;
  }

  .profile {
    padding: 1rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: .4rem;

    .left {
      width: 40%;

      .img {
        width: 100%;

        img {
          width: 100%;
          border-radius: 50%;

        }
      }
    }

    .right {
      display: flex;
      flex-flow: column nowrap;
      gap: .5rem;

      width: 60%;

      span {
        color: white;
        font-size: 1.4rem;
        font-weight: 300;
      }

      a {
        color: white;
        font-size: 14px;
        font-weight: 600;
        margin-top: -1rem;

        &:hover {
          color: $yellow;
        }
      }
    }
  }

  .container {
    padding: 0 2.2rem;
    display: flex;
    flex-flow: column nowrap;

    .menu {
      padding-left: 0;

      li {
        padding: 1rem 0;

        .flex-menu {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
        }

        a {
          .iconify {
            font-size: 28px;
          }

          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          gap: 1.3rem;
          font-weight: 300;
          font-size: 1.3rem;

          &:hover {
            color: $yellow;
          }
        }
      }
    }

    #second_menu_sidebar {
      margin-top: 2rem;
    }
  }
}

// Sidebar réduite
.mini-sidebar {
  background-color: $blue;
  min-height: 100vh;
  max-height: 200vh;
  height: 100%; // toute la hauteur de l'écran
  position: relative;

  #sidebar_btn {
    cursor: pointer;
    position: absolute;
    top: 5%;
    right: -5%;
    border: 1px rgba(0, 0, 0, 0.58);
    background-color: $white;
    box-shadow: 1px 1px 1px solid $black_1;
    border-radius: 30%;
  }

  .profile {
    padding: 1rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: .4rem;

    .left {
      width: 100%;

      .img {
        width: 100%;

        img {
          width: 100%;
          border-radius: 50%;

        }
      }
    }

    .right {
      display: none;
    }
  }

  .container {
    padding: 0 2.2rem;
    display: flex;
    flex-flow: column nowrap;

    .menu {
      padding-left: 0;

      li {
        padding: 1rem 0;

        .flex-menu {

          a[data-id='dropdown'] {
            display: none;
          }
        }

        a {

          span {
            &:first-of-type {
              font-size: 28px;
              width: 100%;
            }

            &:last-of-type {
              display: none;
            }
          }

          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          gap: 1.3rem;
          font-weight: 300;
          font-size: 1.3rem;

          &:hover {
            color: $yellow;
          }
        }
      }
    }

    #second_menu_sidebar {
      margin-top: 2rem;
    }
  }
}

#content {
  background-color: $white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 1rem;

  &.theme_light {
    background: var(--bs-gray-100);
    color: var(--bs-gray-900);
  }

  &.theme_dark {
    background: var(--bs-gray-900);
    color: var(--bs-gray-100);

    td,
    p,
    span {
      color: var(--bs-gray-100);
    }
  }

  .top {
    padding: .5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .left {
      span {
        font-family: $font;
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
      }

      p {
        font-family: $font;
        font-style: normal;
        font-weight: 400;
        font-size: 1.2rem;
      }
    }

    .right {

      .buttons {
        a {


          &[data-id="langage"] {
            background-color: rgba(0, 36, 149, 0.58);
            color: white;
            border: 1px solid rgba(0, 36, 149, 0.58);
            border-radius: 30px;
            padding: 0.5rem 1rem;
            font-size: 1.2rem;
            font-weight: 600;
            text-transform: uppercase;
            text-decoration: none;
            transition: all 0.3s ease-in-out;

            &:hover {
              transition: all 0.3s ease-in-out;
              background-color: white;
              color: rgba(0, 36, 149, 0.58);
            }
          }

          &[data-id="theme"] {
            border: 1px solid rgba(235, 190, 26, 0.36);
            border-radius: 30px;
            padding: 0.5rem 1rem;
            font-size: 1.2rem;
            font-weight: 600;
            text-transform: uppercase;
            text-decoration: none;
            transition: all 0.3s ease-in-out;

            &[data-effect="light"] {
              background-color: rgba(235, 190, 26, 0.36);
              color: $black_1;
            }

            &[data-effect="dark"] {
              background-color: $white;
              color: $black_1;
            }

            &:hover {
              transition: all 0.3s ease-in-out;
              background-color: white;
              color: rgba(235, 190, 26, 0.36);
            }
          }

          &[data-id="tutorials"] {
            background-color: #002495;
            color: white;
            border: 1px solid #002495;
            border-radius: 30px;
            padding: 0.5rem 1rem;
            font-size: 1.2rem;
            font-weight: 600;
            text-transform: uppercase;
            text-decoration: none;
            transition: all 0.3s ease-in-out;

            &:hover {
              transition: all 0.3s ease-in-out;
              background-color: white;
              color: #002495;
            }
          }
        }
      }
    }
  }
}

// Rightbar
#rightbar {
  background-color: $grey_1;

  .container {
    padding: 1rem 2rem;

    .top {
      padding: 1.3rem 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      h2 {
        font-size: 2rem;
        color: black;
      }

      .notification {

        .iconify {
          font-size: 2rem;
          color: $black_2;
        }
      }
    }

    .content {
      .card_rightbar {
        margin: .5rem 0;

        .top {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;

          .left_top {}

          .actions a {
            color: $black_2;

            &:hover {
              color: $black_1;
            }
          }
        }

        .content {
          padding: .5rem 1rem;
          border-radius: 10px;
          background-color: $black_3;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;

          .left {
            span {
              color: $white;
              font-style: normal;
              font-weight: 600;
              font-size: 2rem;
            }

            .switch-toggle {
              float: left;
              background: #242729;

              input {
                position: absolute;
                opacity: 0;
              }

              input+label {
                padding: 7px;
                float: left;
                color: #fff;
                cursor: pointer;
                text-transform: uppercase;
              }

              input:checked+label {
                background: green;
              }

              input.off:checked+label {
                background: red;
              }
            }
          }

          .right {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            gap: .4rem;

            .barre {
              background: #002495;
              width: 4px;
              height: 47px;
              border-radius: 30px;

              &[data-id="orange"] {
                background: #FD7E50;
              }

              &[data-id="yellow"] {
                background: #faed02;
              }

              &[data-id="green"] {
                background: #088e03;
              }
            }

            .details {
              display: flex;
              flex-flow: column nowrap;
              gap: 0;

              span {
                color: $white;

                &:first-of-type {
                  font-style: normal;
                  font-weight: 300;
                  font-size: 1rem;
                }

                &:last-of-type {
                  margin-top: -.4rem;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 1.3rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

#twitch-embed-content {
  position: relative;

  #twitch-embed.twitch-embed-small {
    position: relative;
    z-index: 99;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 25%;

    iframe {
      z-index: 99;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 20%;
      height: 25%;
    }

    #btn_toggle_size_twitch {
      z-index: 100;
      position: absolute;
      top: 0;
      right: 0;
      color: black;
      background-color: white;
      font-size: 1.5rem;
    }

  }

  #twitch-embed.twitch-embed-large {
    position: relative;

    z-index: 99;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 100%;

    iframe {
      z-index: 99;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 80%;
      height: 100%;
    }

    #btn_toggle_size_twitch {
      z-index: 100;
      position: absolute;
      top: 0;
      right: 0;
      color: black;
      background-color: white;
      font-size: 2rem;
    }
  }


}



#buttons_section {
  .btn-group {
    padding: .5rem;
    display: flex;

    .btn {
      color: white;
      background-color: $blue;
      border: none;
      border-bottom-right-radius: 30px;
      padding: .5rem 1rem;
      font-size: 1.6rem;
      text-transform: uppercase;
    }
  }
}

td.bodyAccess {
  max-width: 400px;

  .flex {
    display: flex;
    flex-flow: row nowrap;
  }

  .avatar {
    width: 3%;
    text-align: center;

    img {
      width: 100%;
    }
  }
}

.input-grp {
  background-color: $grey_3;
  padding: 2rem;
  margin: 1rem 0;
}

.input-grp-2 {
  background-color: $grey_2;
  padding: 2rem;
  margin: 1rem 0;
}

.input-grp-center {
  padding: 2rem;
  background-color: $grey_1;
  margin: 1rem 0;
}

.form-floating {
  label {
    font-size: 1.1rem;
    color: $black_1;
  }

  .form-select {
    color: $blue;
    border: 3px solid #ced4da;
    font-weight: 500;
  }

  .form-control {
    border: 2px solid #ced4da;
    color: $blue;
    font-weight: 500;
  }

  .required::after {
    content: ' *';
    color: red;
    font-weight: 700;
  }
}


// Overlay/show
#overlay_show {

  &.btn-section {
    padding: 2rem 1rem;
    margin: 2rem 0;
    border: $black_1 2px solid;

    .row {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-end;
    }
  }
}

// Overlay/show - section accessPerson
#overlay_show_access_person {
  background-color: $grey_2;
  padding: 2rem;

  .flex {
    display: flex;

    .avatar {
      width: 6%;
      text-align: center;

      img {
        width: 100%;
      }
    }
  }
}

// Event/index
#event_hub {
  background: $grey_1;
  border-radius: 30px;
  padding: 1rem;
}

.event-full {
  background: url("https://images.unsplash.com/photo-1558008258-7ff8888b42b0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1331&q=80");
  border-radius: 0 0 10px 0;

  .content {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4rem 2rem;

    .top_left {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-flow: column nowrap;

      .name {
        color: #FFFFFF;
        background: $yellow;
        font-size: 1.5rem;
        font-weight: 700;
        padding: .3rem 4rem;
      }

      .edition {
        background: $white;
        color: $black_2;
        text-transform: uppercase;
        border-radius: 0 0 30px 0;
      }
    }

    .top_right {
      position: absolute;
      top: 0;
      right: 0;
      padding: 1rem;
    }

    .logo {
      width: 20%;

      img {
        width: 100%;
      }
    }
  }

  .details {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    color: #FFFFFF;
    font-size: 1.3rem;
    background: #00000063;
    padding: .5rem 5rem;

    span {
      font-style: normal;
      font-weight: 300;
      color: $white;
    }
  }

  h3 {
    color: $yellow;
    font-size: 2.3rem;
    font-weight: 200;
  }

  a {
    display: block;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 1.3rem;
    background-color: $blue;
    padding: .5rem 2rem;

    &:hover {
      text-decoration-line: none;
      background-color: $yellow;
      color: $white;
      transition: all ease-in cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }

  .btn_section {}
}

.event_wrap {
  background-color: $white;
  display: flex;
  justify-content: space-between;

  .left {
    width: 65%;
    padding: 1rem;

    .content {
      display: flex;
      gap: .5rem;

      .logo {
        width: 15%;

        img {
          width: 100%;
        }
      }

      .text {
        h3 {
          font-style: normal;
          font-weight: 300;
          color: $black_1;
        }

        .details {
          display: flex;
          gap: 1rem;

          span {
            font-style: normal;
            font-weight: 300;
            color: $black_2;
          }
        }
      }
    }
  }

  .right {
    background-color: $yellow;
    border-radius: 0 0 30px 0;
    max-height: 30px;
    padding: 0 1rem;
  }
}

.recents_event {
  margin: 2rem 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 2rem;

  .event {

    a {
      display: block;
      text-align: center;
      font-style: normal;
      font-weight: 300;
      font-size: 1.3rem;
      background-color: $blue;
      border-radius: 0 0 30px 0;

      &:hover {
        text-decoration-line: none;
        background-color: $yellow;
        color: $white;
        transition: all ease-in cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
  }
}


// Section Panel Widgets
#panel_widgets {

  #section_btn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: .6rem;

    .btn_panel {
      cursor: pointer;
      background: $blue;
      border-radius: 0 0 30px 0;
      padding: .5rem 1rem;
      color: #FFFFFF;
      font-size: 1.5rem;
    }
  }

  #section_panel {
    .section_panel {
      display: none;
    }
    .active {
      display: inherit;
    }
  }
}