<aside id="rightbar">
	<div class="container">
		<div class="top">
			<h2>Agenda</h2>
			<div class="notification">
				<span class="iconify" data-icon="clarity:notification-solid"></span>
			</div>
		</div>

		<div class="content">
			{% block card_agenda %}
				<div class="card_rightbar">
					<div class="top">
						<div class="left_top">
							<span>Samedi 14 Avril</span>
						</div>
						<div class="actions">
							<a href="#">•••</a>
						</div>
					</div>
					<a href="#" class="content">
						<div class="left">
							<span>14:00</span>
						</div>
						<div class="right">
							<div class="barre"></div>
							<div class="details">
								<span>Tournament</span>
								<span>Salty Duels 8</span>
							</div>
						</div>
					</a>
				</div>
			{% endblock %}
		</div>
	</div>
</aside>
