<form method="post" action="{{ path('app_meta_overlays_delete', {'id': meta_overlay.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ meta_overlay.id) }}">
    <button class="btn">Delete</button>
</form>
