<form method="post" action="{{ path('app_meta_overlays_delete', {'id': meta_overlay.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette métadonnée ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ meta_overlay.id) }}">
	<button class="btn btn-danger">
		<span class="iconify" data-icon="ant-design:delete-filled"></span>
		Supprimer la métadonnée</button>
</form>
