<section id="versus">
	<div id="versuscontainer" class="container_versus">
		<div id="leftversus" class="left">
			<div class="name_profil">
				<span id="versus_team_a">TBD</span>
			</div>
		</div>
		<div id="centerversus" class="center">
			<span>VS</span>
		</div>
		<div id="rightversus" class="right">
			<div class="name_profil">
				<span id="versus_team_b">TBD</span>
			</div>
		</div>
	</div>
</section>
